header {
    width: 100%;
    background-color: white;
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo {
    width: 142px;
    height: 60px;
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
}

#api_status {
  float: right;
  margin-right: 30px;
  height: 40px;
  width: 40px;
  background-color: #cccccc;
  border-radius: 50%;
  display: inline-block;
}

#api_status.available {
  background-color: #ff545f;
}

